language: r
cache: packages

sudo: false

addons:
  apt:
    packages:
      - udunits2-dev

# safelist
branches:
  only:
  - master

cache:
  packages: yes
  directories:
    - $TRAVIS_BUILD_DIR/_bookdown_files

before_script:
  - chmod +x ./_build.sh
  - chmod +x ./_deploy.sh

script:
# always build the book
# only deploy if it is merged/pushed to master (don't deploy  a PR)
  -  ./_build.sh
#  -  '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && ./_deploy.sh || [ "${TRAVIS_PULL_REQUEST}" = "true" ]'
  - 'if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then ./_deploy.sh; else return 0; fi'
