language: r
pandoc_version: 1.19.2.1

sudo: false

cache:
  packages: yes
  directories:
    - $TRAVIS_BUILD_DIR/_bookdown_files
    
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_PAT  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  on:
    branch: master

before_script:
  - chmod +x ./_build.sh
  - chmod +x ./_deploy.sh

script:
  - ./_build.sh
  - ./_deploy.sh